body {
  background-color: rgb(241, 241, 234);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

header {
  
  color: white;
  padding: 0;
  background-color: rgb(3, 52, 45);
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-weight: 100;
  margin-left: 20px;
} 

.header-cart {
  background-color: rgb( 10, 118, 79);
  padding-right: 80px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.header-cart img {
margin-right: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.items {
  margin-top: 50px;
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid rgb(226, 226, 226);
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  width: 90%;
  border-left: 2px solid rgb(226, 226, 226);
  border-right: 2px solid rgb(226, 226, 226);
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.item .item__image {
  border-left: 2px solid rgb(226, 226, 226);
  border-right: 2px solid rgb(226, 226, 226);
  width: 100%;
  border-bottom: 2px solid rgb(226, 226, 226);
}

.item .item__add {
  background-color: green;
  border: 0;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
}

.cart {
  background-color: rgb(235, 234, 234);
  display: flex;
  flex-basis: 17%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}
